<launch>
    <arg name="paused" />
    <arg name="wname" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="$(arg paused)"/>
        <arg name="world_name" value="$(find go1_mud_test)/worlds/$(arg wname).world"/>
    </include>

    <node pkg="gazebo_ros" type="spawn_model" name="urdf_spawner" respawn="false" output="screen"
        args="-urdf -z 0.6 -model go1 -param robot_description"/>
</launch>