<launch>
    <arg name="rvizconfig" value="$(find go1_locomotion)/config/go1.rviz"/>
    <!-- Debug mode will hung up the robot, use "true" or "false" to switch it. -->
    <arg name="rname" default="go1"/>
    <arg name="user_debug" default="false"/>
    <arg name="wname" default="earth"/>

    <param name="robot_name" value="$(arg rname)"/>

    <include file="$(find go1_locomotion)/launch/gazebo.launch">
        <arg name="wname" value="$(arg wname)" />
        <arg name="user_debug" default="$(arg user_debug)"/>
    </include>

    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find go1_description)/config/robot_control.yaml" command="load"/>

    <node pkg="controller_manager" type="spawner" name="controller_spawner" respawn="false"
          output="screen" ns="/go1_gazebo" args="joint_state_controller
          FL_hip_controller FL_thigh_controller FL_calf_controller
          FR_hip_controller FR_thigh_controller FR_calf_controller
          RL_hip_controller RL_thigh_controller RL_calf_controller
          RR_hip_controller RR_thigh_controller RR_calf_controller "/>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rvizconfig)" />
    <node pkg="go1_locomotion" type="go1_locomotion_main" name="go1_locomotion_main" respawn="false" output="screen" />
</launch>